.post-type-archive-artist-events {

    .page-title {
        padding: 1rem;
        font-size: 2.5rem;
        
    }
    .page-header {
        text-align: center;
    }
  
    .event-wrapper {
        @include flex-justify(center);
        flex-wrap: wrap;
        margin: 4rem auto;
        border-radius: 0.5rem;
       .attachment-medium {
        width: 100%;
       }

       .event-name {
        width: 100%;
        text-align: center;
       }
       .event-date {
        font-weight: 600;
        font-size: 1.5rem;
       }

       .event-description, .collab-desc {
        padding: .5rem 1rem;
        margin: 0;
       }

       h3{
        margin: 0;
       }

       .collab-desc {
        max-width: 40rem;
       }

       .collab-name {
        margin-top: 2rem;
        padding-left: 1rem;
        
       }
       .acf-map{
        width: 100%;
       }
    }

    .event-name {
        padding-top: 1.5rem;
    }


    .wc-block-grid__product {
        white-space: nowrap;
    }

    

    article:nth-child(even) {
        background-color: $color__accent;
        color: white;
    }

    article:nth-child(odd) {
        background-color: $color__secondary;
    }


    @media screen and (min-width: 43.75rem) {
        .event-wrapper {
            max-width: 55rem ;
        }
        .attachment-medium {
            max-width: 50rem;
        }
    
    }
}