.post-type-archive-artist-services {

   @include flex-justify(center);
   flex-wrap: wrap;


    .service-contain{
       margin: 0 auto;
    }

    .collapsible {
        @include flex-justify(space-between);
        flex-wrap: wrap;
        border: 0;
        background-color: transparent;
        border-bottom: 3px solid #35598B ;
        width: 90%;
        max-width: 25rem;
        font-family: $font__main;
        padding: 0;
    
    }

    p.collapsible-title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: $color__heading-main;
    }

    
    #wpforms-151-field_3,#wpforms-151-field_4,#wpforms-151-field_5,#wpforms-151-field_8,#wpforms-151-field_7 {
        border: 1px solid $color__accent;
        background-color: $color__secondary;
        font-weight: 600;

    }

    #wpforms-submit-151 {
        width: 11.9375rem;
        height: 2.8125rem;
        border: 2px solid $color__heading-main;
        background-color: $color__heading-main;
        color: #fff;
    }

}