.site-footer {
    background-color: $color__secondary;
    color: $color__primary;
    padding-top: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;

    .menu {
        padding: 0;
        margin: 0;
    }

    .site-info {
        @include flex-justify(space-around);
        align-items: center;
    }

    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }

    p {
        text-align: center;
        margin: 0 0 1rem;
    }
}