// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Display flex with justify-content
@mixin flex-justify($justify) {
	display: flex;
	justify-content: $justify
   }

// Mixin for centering element
@mixin img-center {
	display: block;
    margin: 0 auto;
}


// Light font for titles

@mixin light-title {
	font-weight: 600;
	font-size: 1.5rem;
}