@media screen and (min-width: 43.75rem) {
    
    .site-header {
        display: flex;
        align-items: center;
        background-color: $color__secondary;

        .nav-menu {
            justify-content: flex-end;
            margin-right: 2rem;
        }
    }

}