@media screen and (min-width: 43.75rem) {
    
    .site-header {
        @include flex-justify(space-between);
        align-items: center;
        background-color: $color__secondary;

        .main-navigation{ 
            max-width: fit-content;
            margin-right: 2rem;
        }
    }

}