@media screen and (min-width: 37.5rem) {
    
    .site-header {
        display: flex;
        align-items: center;

        .nav-menu {
            justify-content: flex-end;
            margin-right: 2rem;
        }
    }

}