.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 43.75rem) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5rem;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


.menu-toggle {
    position: absolute;
    z-index: 9999;
    right: 0.5rem;
    top: 1.5rem;
	background-color: transparent;
    fill: cornflowerblue;
	border: none;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-align: center;
	background-color: $color__secondary;
	color: $color__primary;
	font-weight: 600;
	padding: 0.75rem;
	border: 1px solid $color__primary;
}

@media screen and (min-width: 43.75rem) {

	.main-navigation a {
		border: none;
	}

	.menu-toggle {
		display: none;
	}

	.sub-menu {
		float: left;
		position: absolute;
		top: 100%;
		left: -999rem;
		z-index: 99999;
		display: flex;
		flex-direction: column;
		background-color: #000;
		width: 10rem;
	}

	.sub-menu a {
		text-align: left;
	}

}