a {
	color: $color__primary;

	&:visited {
		color: $color__primary;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
		text-shadow: 1px 1px 1px $color__primary;
	}
}
