.page-id-21,
.page-id-28, 
.archive,
.blog {
    .site-main {
        margin: 0 1rem;
    }
}

@media (min-width: 100rem) {
    .page-id-21 .site,
    .page-id-28 .site, 
    .archive .site,
    .blog .site {
          display: grid;
          grid-template-columns: 1fr minmax(0, 100rem) 1fr;
          grid-template-areas:
            "header header header"
            ". main ."
            "footer footer footer";
    }
    
    header {
    grid-area: header;
    }
      
    main {
    grid-area: main;
    }
      
    footer {
    grid-area: footer;
    }

  }