body:not(.home) {
    .site-main {
        margin: 0 1rem;
        padding-bottom: 10rem;
    }
}

@media (min-width: 100rem) {
    body:not(.home) .site {
          display: grid;
          grid-template-columns: 1fr minmax(0, 100rem) 1fr;
          grid-template-areas:
            "header header header"
            ". main ."
            "footer footer footer";
    }
    
    header {
    grid-area: header;
    }
      
    main {
    grid-area: main;
    }
      
    footer {
    grid-area: footer;
    }

  }